       /* h1 {
            color: red;
            font-size: small;
            background-color: blue;
        }

        button {
            color: darkviolet;
            background-color: tan;
        }

        p {
            color: white;
            background-color: #708090;
        }*/

        h1 {
            text-align: center;
           font-weight: 900;
           text-decoration: underline blue;
        }

        p  {
           font-weight: 600;
        }

        a {
            text-decoration: none;
            color: black;
        }