h1 {
    text-align: center;
}

#container {
    background-color: grey;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid grey;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /*
    flex-start
    flex-end
    center
    space-between
    space-around
    space-evently
    */
    flex-wrap: wrap;
}

#container div {
    width: 600px;
    height: 100px
}