h1 {
    text-align: center;
}

#container {
    background-color: grey;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*
    flex-start
    flex-end
    center
    space-between
    space-around
    space-evently
    */
    flex-wrap: wrap-reverse;
}

#container div {
    width: 200px;
    height: 200px
}