h1 {
    text-align: center;
}

#container {
    background-color: grey;
    width: 90%;
    height: 1500px;
    margin: 0 auto;
    border: 5px solid grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#container div {
    width: 200px;
    height: 200px
}